/* ==== Text Stroke Utilities (WebKit-safe) ==== */
@import "tailwindcss";

.text-stroke-1-black {
  -webkit-text-stroke: 1px #000;
  paint-order: stroke fill;
}
.text-stroke-2-black {
  -webkit-text-stroke: 2px #000;
  paint-order: stroke fill;
}
.text-stroke-3-black {
  -webkit-text-stroke: 3px #000;
  paint-order: stroke fill;
}
.text-stroke-4-black {
  -webkit-text-stroke: 4px #000;
  paint-order: stroke fill;
}

.text-stroke-5-black {
  -webkit-text-stroke: 8px #000;
  paint-order: stroke fill;
}

.text-stroke-6-black {
  -webkit-text-stroke: 8px #000;
  paint-order: stroke fill;
}

.text-stroke-7-black {
  -webkit-text-stroke: 8px #000;
  paint-order: stroke fill;
}

.text-stroke-8-black {
  -webkit-text-stroke: 8px #000;
  paint-order: stroke fill;
}

.text-stroke-9-black {
  -webkit-text-stroke: 9px #000;
  paint-order: stroke fill;
}

.text-stroke-10-black {
  -webkit-text-stroke: 10px #000;
  paint-order: stroke fill;
}



.text-stroke-1-white {
  -webkit-text-stroke: 1px #fff;
  paint-order: stroke fill;
}
.text-stroke-2-white {
  -webkit-text-stroke: 2px #fff;
  paint-order: stroke fill;
}
.text-stroke-3-white {
  -webkit-text-stroke: 3px #fff;
  paint-order: stroke fill;
}
.text-stroke-4-white {
  -webkit-text-stroke: 4px #fff;
  paint-order: stroke fill;
}

.text-stroke-5-white {
  -webkit-text-stroke: 5px #fff;
  paint-order: stroke fill;
}

/* Fill colors */
.text-fill-white {
  color: white;
}
.text-fill-black {
  color: black;
}

/* Optional smoothing */
.text-stroke-1-black,
.text-stroke-2-black,
.text-stroke-3-black,
.text-stroke-4-black,
.text-stroke-1-white,
.text-stroke-2-white,
.text-stroke-3-white,
.text-stroke-4-white {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}